.all{
  width: 1440px;
  height: 1080px;
  display: flex;
  .img_area{
    overflow: hidden;
    
    img{
      object-fit: cover;
    }
  }
  .info_area{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
    overflow: hidden;
    .info_container{
      
      .first_info{
        color : #FF6D6D;
        font-size: 25px;
      }
      .second_info{
        padding-top: 15px;
        font-size: 45px;
        span{
          font-weight: bold;
        }
      }
      .third_info{
        padding-top: 15px;
        font-size: 18px;
        // font-weight: lighter;
        color : #000000;
      }
    }
    .button_container{
      padding-top: 20px;
      button{
        width:295px;
        height: 50px;
        background-color: #FF6D6D;
        color: white;
        border-radius: 10px;
        font-size : 20px;
        font-weight: bold;
        border: white;
      }
    }
    .img_container{
      padding-top: 200px;
      overflow: hidden;
      img{
        object-fit: cover;
      }
    }
  }
}